@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trailblazer Jeep Services</h1>
    <img src="~/lib/jeepstanding.jpg" height="400">
    <p>
        Welcome to Trailblazer Jeep Services, your ultimate destination for Jeep Wrangler maintenance and customization. At Trailblazer, we understand that owning a Jeep Wrangler isn't just about having a vehicle; it's about embracing a lifestyle of adventure and freedom. Our experienced mechanics are passionate about Jeeps and equipped with the knowledge and tools to handle everything from routine maintenance to complex repairs and performance upgrades. Whether you're gearing up for a rugged off-road excursion or looking to enhance your vehicle's capabilities and appearance, we're here to ensure your Wrangler is always ready to hit the trail.
    </p>
<br />
    <img src="~/lib/jeepworking.jpg" height="400"/>
<br />
    <p>
        Our commitment to quality and customer satisfaction sets us apart in the world of Jeep services. We pride ourselves on using only the highest quality parts and the latest techniques to keep your Wrangler performing at its best. Our state-of-the-art facility provides a welcoming environment where you can discuss your needs and explore various customization options. At Trailblazer Jeep Services, we're more than just mechanics—we're fellow Jeep enthusiasts who are dedicated to helping you make the most out of your Wrangler experience.
    </p>
</div>
